<div class="header">
    <div class="header-link">
        Home
    </div>
    <div class="header-link">
        Pick'ems
    </div>
    <% if (!user) { %>
        <div class="header-link right">
            <a href="/login">Login</a>
        </div>
    <% } else { %>
        <div class="header-link right">
            <div class="header-username">
                Hello, <%= user.name %>
            </div>
            <div class="header-logout">
                <a href="/logout">Logout</a>
            </div>        
        </div>
    <% } %>
</div>