<!DOCTYPE html>
    <head>
        <%- include partials/styles %>
    </head>
    <body class="container">
        <main>
            <% include partials/header %>
            <div class="jumbotron">
                <h1>League of Goons</h1>
                <p>Admin</p>
                <form method="POST" action="/admin">
                    <div class="team-controls">
                        <input type="text" name="teamName" id="teamName" />
                        <input type="number" name="pickNum" id="pickNum" min="1" />
                        <button type="submit" class="btn-submit">Add Team</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>