<!DOCTYPE html>
    <head>

    </head>
    <body class="container">
        <main>
            <div class="jumbotron">
                <h1>League of Goons</h1>
                <% if(teams) { %>
                    <form method="POST" action="/">
                        <select name="teamName" class="team-dropdown">
                            <% for(var key in teams) { %>
                                <option value="<%= teams[key] %>">
                                    <%= key %>
                                </option>
                            <% } %>
                        </select>
                        <input type="text" name="pickName" />
                        <button type="submit">Submit</button>
                    </form>
                <% } %>
            </div>
        </main>
    </body>
</html>