<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="bg-image"></div>
        <div class="container">
            <main>
                <% include partials/header %>
                <div class="jumbotron-center">
                    <h1>League of Goons</h1>
                    <div class="login-form">
                        <form method="POST" action="/login">
                            <div class="login-controls">
                                <div class="login-control">
                                    <input type="text" name="username" placeholder="Username" />
                                </div>
                                <div class="login-control">
                                    <input type="password" name="password" placeholder="Password" />
                                </div>
                                <div>
                                    <button type="submit">Submit</button>
                                <div class="login-control">
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>